body {
    width: 300px;
    height: 475px;
}

h1 {
    text-align: center;
}

div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

div > a, div > button {
    display: block;
    width: 100px;
    margin: 0 auto;
    flex: 1 1 calc(45% - 20px);
    background-color: unset;
    border: none;
}

div > button:hover {
    cursor: pointer;
}



img {
    padding: 10px;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: solid 1px black;
    border-radius: 30px;
}


#return {
    border: none;
    background-color: unset;
}

#return img {
    height: 50px;
}

/* Site Notes */

textarea { width: 100%; height: 80px; }
#page-notes button { 
    margin-top: 10px; 
}
