body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

#taskList {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 300px;
    text-align: left;
}

#taskList li {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#taskList li.highlight {
    background-color: #3498db;
    color: white;
}

#completedTasksList li {
    background-color: #dff0d8; /* Light green background for completed tasks */
}
#completedTasksSection{
    display: none;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
