@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #121212;
    color: #ffff;
}

/* NAV Bar */
nav{
    background-color: #420011;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    
    
}
nav a {
    color: #ffff;
    padding:0 2em;
    text-decoration: none;
    
}
header img{
    width: 20%;
    height: auto;
}

#youtube{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers the button horizontally */
    align-items: center;
}
#youtube h2{
    margin-bottom: 40px;
    font-size: 40px;
}
.download-btn{
    display: block;
    padding: 15px 20px;
    background-color: sandybrown; /* Button color */
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    font-size: 20px; /* Text size */
    margin-top: 20px;
}
.download-btn:hover {
    background-color: burlywood; /* Hover effect */
  }

section{
    border-radius: 50px;
    background-color: #420011;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    height: 500px;
    margin: 20px;

}

img{
    max-width: 40%;
    border-radius: 20%;

}

p{
    text-align: justify;
    width: 400px;
    padding: 20px;
}